Repository newstack-cloud/celerity: changes, and which Codecov flags are due for each by the changed paths.
All: runtime-lib-blueprint-config-parser, runtime-lib-core, runtime-lib-signature

fix(lib-rt-signature): ensure that an error is captured on failure to decode base64 signature input
  libs/runtime/signature/src/sigv1.rs
Due: runtime-lib-signature

docs(lib-rt-signature): add coverage badge
  libs/runtime/signature/README.md
  libs/runtime/signature/src/sigv1.rs
Due: runtime-lib-signature

chore: add commit scopes for new libraries
  COMMIT_GUIDELINES.md
  README.md
  commitlint.config.js
Due: none

feat(lib-rt-blueprint-parser): remove api key auth and add ws auth strategy
  libs/runtime/blueprint-config-parser/src/blueprint.rs
  libs/runtime/blueprint-config-parser/src/parse_yaml.rs
  libs/runtime/blueprint-config-parser/src/validate_parsed.rs
  libs/runtime/blueprint-config-parser/tests/data/fixtures/handler-config-resource-types.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/handler-config-resource-types.yaml
  libs/runtime/blueprint-config-parser/tests/data/fixtures/http-api.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/http-api.yaml
  libs/runtime/blueprint-config-parser/tests/data/fixtures/invalid-resource-metadata.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/invalid-resource-metadata.yaml
  libs/runtime/blueprint-config-parser/tests/data/fixtures/missing-resource-type.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/missing-resource-type.yaml
  libs/runtime/blueprint-config-parser/tests/data/fixtures/shared-handler-config.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/shared-handler-config.yaml
  libs/runtime/blueprint-config-parser/tests/data/fixtures/unsupported-resource-type.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/unsupported-resource-type.yaml
  libs/runtime/blueprint-config-parser/tests/data/fixtures/websocket-api-with-ws-config.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/websocket-api-with-ws-config.yaml
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_blueprint_config_from_json_string.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_blueprint_config_from_yaml_string.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_handler_config_resources_blueprint_config_from_json_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_handler_config_resources_blueprint_config_from_yaml_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_http_api_blueprint_config_from_json_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_http_api_blueprint_config_from_yaml_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_shared_handler_config_blueprint_config_from_json_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_shared_handler_config_blueprint_config_from_yaml_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_websocket_api_blueprint_config_with_ws_protocol_config_from_json_file.snap
Due: runtime-lib-blueprint-config-parser

feat(lib-rt-blueprint-parser): add functionality to parse workflow resource type
  libs/runtime/blueprint-config-parser/src/blueprint.rs
  libs/runtime/blueprint-config-parser/src/lib.rs
  libs/runtime/blueprint-config-parser/src/parse.rs
  libs/runtime/blueprint-config-parser/src/parse_blueprint_resource.rs
  libs/runtime/blueprint-config-parser/src/parse_mapping_node.rs
  libs/runtime/blueprint-config-parser/src/parse_yaml.rs
  libs/runtime/blueprint-config-parser/src/workflow_consts.rs
  libs/runtime/blueprint-config-parser/src/yaml_workflow.rs
  libs/runtime/blueprint-config-parser/tests/blueprint_config_test.rs
  libs/runtime/blueprint-config-parser/tests/data/fixtures/workflow-app.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/workflow-app.yaml
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_workflow_app_blueprint_config_from_json_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_workflow_app_blueprint_config_from_yaml_file.snap
Due: runtime-lib-blueprint-config-parser

wip(lib-rt-core): add work-in-progress for websockets and telemetry
  libs/runtime/core/Cargo.toml
  libs/runtime/core/src/application.rs
  libs/runtime/core/src/aws_telemetry.rs
  libs/runtime/core/src/config.rs
  libs/runtime/core/src/consts.rs
  libs/runtime/core/src/errors.rs
  libs/runtime/core/src/lib.rs
  libs/runtime/core/src/request.rs
  libs/runtime/core/src/runtime_local_api.rs
  libs/runtime/core/src/telemetry.rs
  libs/runtime/core/src/transform_config.rs
  libs/runtime/core/src/types.rs
  libs/runtime/core/src/websocket.rs
  libs/runtime/core/tests/data/fixtures/http-api.blueprint.yaml
  libs/runtime/core/tests/http_api_test.rs
Due: runtime-lib-core

wip(lib-rt-workflow): add initial boilerplate for workflow crate
  libs/runtime/workflow/Cargo.toml
  libs/runtime/workflow/README.md
  libs/runtime/workflow/src/application.rs
  libs/runtime/workflow/src/lib.rs
Due: none

fix(lib-rt-sdk-python): remove use of api keys
  libs/runtime/sdk/python/Cargo.toml
  libs/runtime/sdk/python/src/lib.rs
  libs/runtime/sdk/python/tests/test_runtime_application.py
Due: none

fix(lib-rt-sdk-node): remove use of api keys
  libs/runtime/sdk/node/Cargo.toml
  libs/runtime/sdk/node/__test__/index.spec.mjs
  libs/runtime/sdk/node/src/lib.rs
Due: none

fix(lib-rt-sdk-ffi): remove use of api keys
  libs/runtime/sdk/bindgen-ffi/src/application.rs
Due: none

fix(lib-rt-sdk-schema): remove use of api keys
  libs/runtime/sdk/bindgen-schema/src/shared.rs
Due: none

chore(runtime-libs): add new packages
  libs/runtime/Cargo.toml
Due: none

feat(lib-rt-workflow): add local runtime api implementation
  libs/runtime/workflow/Cargo.toml
  libs/runtime/workflow/src/application.rs
  libs/runtime/workflow/src/config.rs
  libs/runtime/workflow/src/consts.rs
  libs/runtime/workflow/src/errors.rs
  libs/runtime/workflow/src/lib.rs
  libs/runtime/workflow/src/transform_config.rs
  libs/runtime/workflow/src/types.rs
  libs/runtime/workflow/src/workflow_runtime_local_api.rs
Due: none

feat(lib-rt-helpers): add shared helpers and types
  libs/runtime/helpers/Cargo.toml
  libs/runtime/helpers/src/blueprint.rs
  libs/runtime/helpers/src/lib.rs
  libs/runtime/helpers/src/runtime_types.rs
Due: none

refactor(lib-rt-core): extract shared types and functions
  libs/runtime/core/Cargo.toml
  libs/runtime/core/src/application.rs
  libs/runtime/core/src/config.rs
  libs/runtime/core/src/errors.rs
  libs/runtime/core/src/runtime_local_api.rs
  libs/runtime/core/src/telemetry.rs
  libs/runtime/core/src/transform_config.rs
  libs/runtime/core/src/types.rs
Due: runtime-lib-core

fix(lib-rt-blueprint-parser): add ability to clone workflow specifications
  libs/runtime/blueprint-config-parser/src/blueprint.rs
Due: runtime-lib-blueprint-config-parser

refactor(lib-rt-sdk-ffi): import shared types from the helpers crate
  libs/runtime/sdk/bindgen-ffi/Cargo.toml
  libs/runtime/sdk/bindgen-ffi/src/application.rs
Due: none

refactor(lib-rt-sdk-node): import shared types from the helpers package
  libs/runtime/sdk/node/Cargo.toml
  libs/runtime/sdk/node/src/lib.rs
Due: none

refactor(lib-rt-sdk-python): import shared types from the helpers crate
  libs/runtime/sdk/python/Cargo.toml
  libs/runtime/sdk/python/src/lib.rs
Due: none

chore: add runtime workflow crate to codecov config
  codecov.yml
Due: none

fix(lib-rt-blueprint-parser): add missing start at field for workflow spec
  libs/runtime/blueprint-config-parser/src/blueprint.rs
  libs/runtime/blueprint-config-parser/src/yaml_workflow.rs
  libs/runtime/blueprint-config-parser/tests/data/fixtures/workflow-app.json
  libs/runtime/blueprint-config-parser/tests/data/fixtures/workflow-app.yaml
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_workflow_app_blueprint_config_from_json_file.snap
  libs/runtime/blueprint-config-parser/tests/snapshots/blueprint_config_test__parses_workflow_app_blueprint_config_from_yaml_file.snap
Due: runtime-lib-blueprint-config-parser

feat(lib-rt-workflow): add template function parser
  libs/runtime/workflow/src/scanner.rs
  libs/runtime/workflow/src/template_func_parser.rs
Due: none

wip(lib-rt-workflow): add incomplete state machine and payload template handling
  libs/runtime/workflow/Cargo.toml
  libs/runtime/workflow/README.md
  libs/runtime/workflow/src/application.rs
  libs/runtime/workflow/src/consts.rs
  libs/runtime/workflow/src/handlers.rs
  libs/runtime/workflow/src/lib.rs
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/state_machine.rs
  libs/runtime/workflow/src/transform_config.rs
  libs/runtime/workflow/src/types.rs
  libs/runtime/workflow/src/workflow_executions.rs
  libs/runtime/workflow/src/workflow_runtime_local_api.rs
  libs/runtime/workflow/tests/state_machine_test.rs
Due: none

docs(runtime-libs): correct api docs for the workflow runtime
  libs/runtime/api-docs/workflow-api/workflow-api-v1.yaml
  libs/runtime/api-docs/workflow-api/workflow-stream-api-v1.yaml
Due: none

feat(lib-rt-helpers): update clock to include current time in milliseconds
  libs/runtime/helpers/src/time.rs
Due: none

test(lib-rt-signature): add current time in milliseconds for test clock
  libs/runtime/signature/src/sigv1.rs
Due: runtime-lib-signature

feat(lib-rt-workflow): add format template function
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

wip(lib-rt-workflow): add integration of template functions
  libs/runtime/workflow/src/lib.rs
  libs/runtime/workflow/src/payload_template.rs
Due: none

feat(lib-rt-workflow): add jsondecode template function
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add jsonencode template function
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add jsonmerge template function
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add b64encode template function
  libs/runtime/workflow/Cargo.toml
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add b64decode template function
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add hash template function
  libs/runtime/workflow/Cargo.toml
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add list template functions
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

ci(runtime-libs): add steps to upload coverage for workflow and sig crates
  .github/workflows/lib-rust-runtime-libs-ci.yml
Due: none

feat(lib-rt-workflow): add contains template function
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

feat(lib-rt-workflow): add split template function
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

refactor(lib-rt-blueprint-parser): add missing visit_str for mapping node visitor
  libs/runtime/blueprint-config-parser/src/parse_mapping_node.rs
Due: runtime-lib-blueprint-config-parser

feat(lib-rt-workflow): add math_rand template function
  libs/runtime/workflow/Cargo.toml
  libs/runtime/workflow/src/payload_template.rs
  libs/runtime/workflow/src/template_functions_v1.rs
Due: none

Path conditions:
  runtime-lib-blueprint-config-parser: any of: libs/runtime/blueprint-config-parser/src/
  runtime-lib-core: any of: libs/runtime/core/src/
  runtime-lib-signature: any of: libs/runtime/signature/src/
