Repository newstack-cloud/celerity: changes, and which Codecov flags are due for each by the changed paths.
All: runtime-lib-blueprint-config-parser, runtime-lib-core, runtime-lib-signature

docs(runtime-libs): say what a consumer result decides in the sdk bindings
  libs/runtime/sdk/node/index.d.ts
  libs/runtime/sdk/node/src/consumer.rs
  libs/runtime/sdk/python/python/celerity_runtime_sdk/_celerity_runtime_sdk.pyi
  libs/runtime/sdk/python/src/consumer.rs
Due: none

docs(lib-rt-ws-registry): correct what waiting for an acknowledgement means
  libs/runtime/ws/ws-registry/src/registry.rs
Due: none

feat(runtime-libs): let a handler ask for a client acknowledgement over ipc
  libs/runtime/core/src/generated/celerity.runtime.v1.rs
  libs/runtime/core/src/ipc_stream.rs
  libs/runtime/proto/celerity/runtime/v1/runtime.proto
  libs/runtime/ws/ws-registry/src/registry.rs
Due: runtime-lib-core

chore(runtime-python): add helper script to keep local builds fast during development
  apps/runtime/python/.gitignore
  apps/runtime/python/scripts/prepare-runtime-sdk-context.sh
Due: none

docs(runtime-libs): make the documented examples compile and hold
  libs/runtime/helpers/src/jsonpath.rs
  libs/runtime/helpers/src/time.rs
  libs/runtime/signature/src/sigv1.rs
  libs/runtime/workflow/src/workflow_executions.rs
Due: runtime-lib-signature

test(lib-rt-consumer-sqs): bound the wait for the messages a test expects
  libs/runtime/consumers/consumer-sqs/tests/integration_test.rs
Due: none

refactor(runtime-libs): drop the event result field nothing carried
  libs/runtime/core/src/consumer_handler.rs
  libs/runtime/core/src/ipc_frames.rs
  libs/runtime/core/src/types.rs
  libs/runtime/core/tests/integration_consumer_test.rs
  libs/runtime/sdk/node/src/consumer.rs
  libs/runtime/sdk/python/src/consumer.rs
Due: runtime-lib-core

fix(lib-rt-consumer-redis): advance the offset once the outcome is recorded
  libs/runtime/consumers/consumer-redis/src/message_consumer.rs
Due: none

fix(runtime-libs): make the test harness able to run one package
  libs/runtime/scripts/package-test-tools.py
Due: none

fix(lib-rt-core): send a batch of websocket messages per connection
  libs/runtime/core/src/ipc_stream.rs
Due: runtime-lib-core

ci(lib-rt-sdk-node): build cross targets against the pinned toolchain
  .github/workflows/lib-node-runtime-sdk-release.yml
Due: none

docs(lib-rt-sdk-node): note the toolchain pin for local cross builds
  libs/runtime/sdk/node/CONTRIBUTING.md
Due: none

ci(lib-rt-sdk-ffi-java): build the 32 bit windows target against the pinned toolchain
  .github/workflows/lib-java-csharp-sdk-release.yml
Due: none

fix(lib-rt-core): serve the handler stream over loopback where there is no unix socket
  libs/runtime/core/src/application.rs
  libs/runtime/core/src/config.rs
  libs/runtime/core/tests/common/mod.rs
  libs/runtime/core/tests/ipc_http_test.rs
  libs/runtime/core/tests/ipc_invoke_test.rs
  libs/runtime/core/tests/ipc_stream_test.rs
  libs/runtime/core/tests/ipc_websocket_test.rs
Due: runtime-lib-core

test(lib-rt-core): pin the fallback port panics to what each one claims
  libs/runtime/core/src/config.rs
Due: runtime-lib-core

ci(lib-rt-sdk-python): build the ppc64le wheel on a newer manylinux image
  .github/workflows/lib-python-runtime-sdk-release.yml
Due: none

deps(runtime-nodejs): add compat corection and update @celerity-sdk/* to 0.9.0
  apps/runtime/nodejs/package.json
  apps/runtime/nodejs/sdk-compat-check.mjs
  apps/runtime/nodejs/yarn.lock
Due: none

ci: scan container images before they are tagged
  .github/workflows/app-dev-auth-release.yml
  .github/workflows/app-local-events-release.yml
  .github/workflows/app-runtime-core-release.yml
  .github/workflows/app-runtime-nodejs-release.yml
  .github/workflows/app-runtime-python-release.yml
Due: none

deps(runtime-nodejs): pin protobufjs to a release with the RCE fixed
  apps/runtime/nodejs/package.json
  apps/runtime/nodejs/yarn.lock
Due: none

feat(cli): resolve the runtime image to its minor series
  apps/cli/internal/blueprint/helpers.go
  apps/cli/internal/blueprint/helpers_test.go
Due: none

docs: record the runtime versioning strategy for image releases
  apps/runtime/nodejs/RELEASING.md
  apps/runtime/python/RELEASING.md
Due: none

ci: build every container release from one reusable workflow
  .github/workflows/app-dev-auth-release.yml
  .github/workflows/app-local-events-release.yml
  .github/workflows/app-runtime-core-release.yml
  .github/workflows/app-runtime-nodejs-release.yml
  .github/workflows/app-runtime-python-release.yml
  .github/workflows/container-release.yml
Due: none

ci: check out the release tag rather than the dispatch branch
  .github/workflows/container-release.yml
Due: none

fix(cli): drop build metadata from the resolved runtime image tag
  apps/cli/internal/blueprint/helpers.go
  apps/cli/internal/blueprint/helpers_test.go
Due: none

docs(runtime-python): use a compatible release constraint in the example
  apps/runtime/python/RELEASING.md
Due: none

Path conditions:
  runtime-lib-blueprint-config-parser: any of: libs/runtime/blueprint-config-parser/src/
  runtime-lib-core: any of: libs/runtime/core/src/
  runtime-lib-signature: any of: libs/runtime/signature/src/
